@font-face {
    font-family: CFCherokee;
    src: url(../fonts/CFCherokee-Regular.ttf)
  }
@font-face {
    font-family: Goboldhollow;
    src: url(../fonts/gobold.hollow.otf)
  }
@font-face {
    font-family: Goboldlow;
    src: url(../fonts/gobold.lowplus.otf)
  }
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Montserrat:wght@900&family=Open+Sans:wght@300;400&family=Press+Start+2P&family=Raleway&family=Roboto:ital,wght@1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Montserrat:wght@900&family=Open+Sans:wght@300;400&family=Oswald&family=Press+Start+2P&family=Raleway&family=Roboto:ital,wght@1,500;1,700&display=swap');

@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }


* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    outline:0;
}
html {
    font-size: 62.5%;
}

a, ul {
    text-decoration: none;
    list-style: none;
}
.bg-inicio {
    background-image: url("../img/fundo.webp");
    height: 100vh;
    background-size: 100% 130%;
    background-repeat: no-repeat;

}
.bg-aboutUs {
    background-image: url("../img/fundopapel.webp");
    height: 740px;
    background-repeat: no-repeat;
}
/*INICIO SLIDE*/
#midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:900px;   
    width:100%;
    background: linear-gradient(72deg, rgba(93, 29, 136) 1%, #8956F3 99%);
    background-repeat: no-repeat;
    position: relative;
}
.teste {
    height:800px;   
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:130px;
}
.container-slide {
    height: 500px;
    width: 750px;
    overflow: hidden;
    position:relative;
}
.ourEvents-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%; 
}


.slideshow {
    display:flex;
    width: 460%;

}

.videoSlide {
    width: 23%;
    transition: .6s;
}


.bar {
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom: 60px;
    left: 40px;
    gap:20px;

}
.slide-bar {
    color: white;
    font-size: 1.9rem;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 30px;
    text-transform: uppercase;
    overflow: hidden;
    font-family: Goboldlow;
    cursor:pointer;
    transition: .6s;
    text-align: center;
}
.slide-bar:hover {
    background-color: rgb(255, 136, 0);  
}

#video1:checked ~ .v1 {
    margin-left: 0;
}
#video1:checked ~ .slide-bar {
    background-color: rgb(255, 136, 0);
}

#video2:checked ~ .v1 {
    margin-left: -23%;
}
#video3:checked ~ .v1 {
    margin-left: -46%;
}
#video4:checked ~ .v1 {
    margin-left: -69%;
}
#video5:checked ~ .v1 {
    margin-left: -92%;
}

input {
    display:none;
}
/*FIM SLIDE*/

.bg-map {
    width: 100%;
    height: 1000px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(72deg, rgb(125, 90, 148) 1%, #8956F3 99%);
}
.bg-map iframe {
    border-radius: 40px;
}

.mask-color1 {
    height: 100vh;
    background-color: rgba(59, 9, 126, 0.733);
}
.mask-color2 {
    height: 740px;
    background-color: rgba(60, 9, 126, 0.342);
}
.topo {
    height: 90vh;
}
/*FONTS*/
.logo-header {
    font-family: CFCherokee;
    font-size: 80px;
    color:white;
    cursor: pointer;
}
.t1 {
    font-family: Goboldhollow;
    font-size: 21rem;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-weight: bolder;
}

.t2 {
    font-size: 21rem;
    font-family: Goboldlow;
    text-transform: uppercase;
    font-style: italic;
    color: yellow;
}

.t3 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
}

.t4 {
    font-size: 5rem;
    font-family: CFCherokee;
    font-weight: lighter;
    color: white;
}

.t5 {
    font-size:8rem;
    font-family: Goboldhollow;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.t-footer {
    font-family: CFCherokee;
    font-size: 4.5rem;
    transition: .6s;
    color: white;
    font-weight: lighter;
}
.t-footer:hover {
    color: #661aa3;;
}

p {
    font-size: 2.5rem;
    color: white;
}

/*HEADER*/
header {
    z-index: 5;
    width: 100%;
    height: 80px;
    background-color: rgba(93, 29, 136, 0.342);
}
.menu-item {
    display: inline-block;
    position: relative;
    gap: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 30.7px 80px 30.7px 80px;
    text-align: center;
    overflow: hidden;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.menu-item:hover{
    -webkit-filter: brightness(1.3);
    background-color: rgba(100, 11, 160, 0.342);
    font-family: CFCherokee;
    font-size: 3rem;
    font-weight: lighter;
    color: white;
}

.about-us {
    height: 740px;
    width: 100%;  
}

.about-us-text {
    position:relative;
    height: 740px;
    width: 50%;
    margin-left:15px; 
}
.about-us-text div {
    position:absolute;
    top:120px;
}

.camvideo {
    position: relative;
    height: 740px;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;  
}

.camvideo img {
    position: absolute;
    width: 800px;
    bottom: 0px;
}
.camvideo iframe {
    position: relative;
    width: 450px;
    height: 275px;
    z-index: 1;
    border-radius: 20px;
    right: -65px;
    top:-60px;
}

.rec {
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 30px;
    animation: animate 1.5s linear infinite;
}

.divisao {
    width: 100%;
    height: 4px;
    border-bottom: 3px solid black;
    background-color: black;
}

/*FOOTER*/

footer {
    position:relative;
    height: 250px;
    width: 100%;
    background-color: black;
}

.linha {
    height: 30px;
    max-width: 800px;
    width: 100%;
    border-bottom: 2px solid white;
}
.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 14px;
}
.whats img {
    max-width: 100px;    
    width: 100%;
    position: absolute;
    right: 40px;
    bottom: 60px;
    transition: .6s;
}
.whats img:hover {
    width: 130px;
}

.social-icon {
    cursor:pointer;
    transition:.6s;
}
.social-icon .icon1 {
    width: 37px;
}
.social-icon .icon2 {
    width: 37px;
}
.social-icon .icon3 {
    width: 30px;
}

@media (max-width:1630px) , (max-height: 770px) {
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
    .bg-aboutUs {
        height: 1100px;   
    }
    .mask-color2 {
        height: 1100px;
    }
    .about-us {
        height: 1100px; 
    }
    .about-us-text {
        position: relative;
        width: 59%;
        margin-left:0px;
        height: 300px;
        top:-100px;    
    }
    .camvideo {
        height: 800px;
    }

    #midia {
        height: 1250px;
        position: relative;
        display: flex;

    }
    .teste {
        position: absolute;
        flex-direction: column-reverse;
        height: 1250px;
        gap:0px;
        top:0px;    
    }
    .container-slide {
        height: 625px;
    }  
    .ourEvents-txt {
        height: 45%;
        width: 400px;
        margin:0;
    }
    .bar {
        position:relative;
        order: -3;
        left: 0;
        bottom: 0;
    }
    .slide-bar {
        margin: 15px;

    }
    .camvideo iframe {
        top:-30px;
    }

}
@media (max-width:1360px), (max-height: 740px) {
    html {
        font-size: 50%;
    }
    .camvideo img {
        width: 800px;  
    }
    .menu-item {
        padding: 30.7px 40px 30.7px 40px;    
    }

    
}
@media (max-width:1060px) {
    
}
@media (max-width:960px) {
    
}
@media (max-width: 850px) {
    .camvideo img {
        width: 680px; 
    }
    .camvideo iframe {
        right: -35px;
        top:30px;
        height: 200px;
    }
    #midia {
        height: 1400px;
    }
    .teste {
        height: 1400px;
        top:0px
    }
   
    .container-slide {
        height: 433px;
        width: 500px;
        overflow: hidden;
        position:relative;
    }
    .videoSlide iframe {
        height: 400px;
        width: 500px;
    }
    .bar {
        height: 433px;
        flex-direction: column;
        gap:0;
        text-align: center;

    }
}

@media (max-width:792px) {
    .logo-header {
        display:none;
    }
    .about-us-text {
        width: 400px;
    } 
}
@media (max-width:730px) {
    html {
        font-size: 40%;
    }
    .bg-aboutUs {
        height: 1000px;   
    }
    .mask-color2 {
        height: 1000px;
    }
    .about-us {
        height: 1000px;  
    }
    .camvideo img {
        width: 600px; 
    }

}
@media (max-width:622px) {
    html {
        font-size: 30%;
    }
    .menu-item {
        font-size:2.5rem ;
        padding: 28px 30px 28px 30px;
    }
    .bg-aboutUs {
        height:700px;   
    }
    .mask-color2 {
        height: 700px;
    }
    .about-us {
        height: 700px;  
    }
    .camvideo img {
        width: 400px; 
    }
    .camvideo iframe {
        top:40px;
        width:220px;
        height: 140px;
    }
    .container-slide {
       width: 350px;
    }
    .videoSlide iframe {
        height: 250px;
        width: 350px;
    }
    #midia {
        height: 1100px;
    }
    .teste {
        height: 1100px;
    }

    .about-us-text {
        top:-35px;
    }
    
}
@media (max-height:530px)  {
    .t1 {
        font-size: 15rem; 
    }
    
    .t2 {
        font-size: 15rem;
       
    }
    
}
@media (max-height:392px)  {
    .t1 {
        font-size: 12rem; 
    }
    
    .t2 {
        font-size: 12rem;
       
    }
    
}

@media (max-width:420px), (max-height: 320px) {
    html {
        font-size: 20%;
    }
    .t3 {
        font-size: 3rem;
    }
    .t4, .t-footer {
        font-size: 10rem;
    }
    .menu-item {
        font-size:4rem ;
        padding: 28px 6px 28px 6px;
    }
    .menu-item:hover {
        font-size:6rem ;  
    }
    .bg-aboutUs {
        height:450px;   
    }
    .mask-color2 {
        height: 450px;
    }
    .about-us {
        height: 450px;  
    }
    .about-us-text {
        width: 60%;
        top:-80px;
    }
    .ourEvents-txt {
        width: 65%; 
    }
    .camvideo img {
        width: 280px; 
    }
    .camvideo iframe {
        height: 110px;
        width: 170px;
        top:10px;
        right: -10px;
    }
    #midia {
        height: 915px;
    }
    .teste {
        height: 915px;
    }
    .bg-map {
        height: 300px;
    }
    .bg-map h2 {
        padding-bottom: 30px;
    }
    .whats img {
        width: 100px;
        bottom: 20px;
        right: 15px;
    }
   
}

@media (max-width: 286px) {
    .container-slide {
        width: 270px;
     }
     .videoSlide iframe {
         height: 250px;
         width: 270px;
     }
     .about-us-text {
        top:-40px;
    }
   
}

@media (max-height: 207px) {
    html {
        font-size: 10%;
    }
   
}



























